@import "reset"

body
  background: #e1e8ee
  padding: 50px 0 0 50px

#home-view
  overflow: visible
  padding: 5px
  width: 1250px

#crosshair
  display: none
  position: absolute
  top: 0
  left: 0
  z-index: 10

#diff
  display: none
  position: absolute
  top: 55px
  left: 55px
  z-index: 2

.canvas-wrapper
  // border: 1px solid #bbb
  background: white
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3)
  height: 600px
  float: left
  margin-bottom: 15px
  position: relative
  width: 600px

  &#original
    margin-right: 50px

  canvas
    cursor: crosshair
    position: relative
    z-index: 3

  code
    background: rgba(0, 0, 0, 0.6)
    border-radius: 3px
    color: white
    display: none
    font: 12px Menlo, monospace
    left: 0
    line-height: 1
    padding: 5px
    position: absolute
    text-align: right
    top: 0
    z-index: 5

canvas#map
  border: none
  vertical-align: top
